* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/*ÁREA DA POPUP*/

.backgroundEsmaecido {
    display: none;
    background: rgb(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.area-popup {
    position: relative;
    display: flex;
    background: #D5F4FF;
    width: 100%;
    max-width: 500px;
    height: 250px;
    border: 5px solid #FFF;
    margin: 10% auto;
    border-radius: 10px;
}

.contentPopup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
}
/*RESULTADO EM PORCENTAGEM DA POPUP*/
.popup-result {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 1px #47474f;
    color: #0000CC;
}
strong {
    font-size: 40px;
    text-shadow: 2px 2px 2px #171515;
    color: #3454B4;
}

.popup-avaliacao {
    text-align: center;
    width: 100%;
    background: #5C5C9E;
    padding: 6px;
    color: #FFF;
    box-shadow: 2px 2px 4px #171515;
}

.btn-popup {
    display: block;
    margin: 0 auto;
    width: 40%;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #0000CC;
    font-size: 15px;
    color: #FFF;
    box-shadow: 2px 2px 4px #171515;
}

.btn-popup:hover {
    background: #000068;
    transition: .5s;
}

.closed-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background: #D5F4FF;
    width: 20px;
    height: 20px;
    text-align: center;

}
.closed-popup:hover {
    background: crimson;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #FFF;
    

}


.img-topo {
    width: 100%;
}

body {
    background-image: radial-gradient(#5C5C9E, #FFF);

}


.h2-subTitle {
    text-align: center;
    margin: 20px;
    color: #000068;
    text-shadow: 2px 2px 4px #fff;
}

#container-form {
    margin: 30px;
}

.perguntas-p {
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.container-input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}

.label-respostas {
    display: flex;
    gap: 10px;
    
}

.inputs {
   margin-bottom: 20px;
   
}

#perg1 {
   border: none;
 }

.btn-inputs {
    display: block;
    margin: 0 auto;
    border: none;
    color: #FFF;
    background: #0000CC;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.btn-inputs:hover {
    background: #000068;
    transition: .5s;
}

footer {
    position: relative;
    background: #5C5C9E;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #FFF;
    
}

.footer-p {
    color: #ebdfdf;
}

.resposta-bottom {
    color: red;
}

.img-devCodar {
    position: absolute;
    width: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    
}

span {
    font-style: italic;
        
}

@media screen and (max-width: 768px) {
    .h2-subTitle {
        text-shadow: 2px 2px 4px #fff;
        font-size: 18px;
    }
    .perguntas-p {
        font-size: 15px;
        margin: 20px;
        
    }
    .label-respostas {
        gap: 6px;
        font-size: 12px;
        
    }
    .img-devCodar {
        width: 60px;
        top: 20px;
    }
    .footer-p {
        font-size: 12px;
    }
    .btn-inputs {
        border-radius: 6px;
        font-size: 13px;
       
    }
}

@media screen and (max-width: 480px) {
    .h2-subTitle {
        text-shadow: 1px 1px 2px #fff;
        font-size: 15px;
    }
    .perguntas-p {
        font-size: 12px;
        margin: 10px;
        
    }
    .label-respostas {
        gap: 5px;
        font-size: 10px;
        
    }
    .img-devCodar {
        width: 50px;
        top: 30px;
    }
    .footer-p {
        font-size: 10px;
    }
    .btn-inputs {
        border-radius: 6px;
        font-size: 11px;
    }
    .inputs {
        margin-bottom: 10px;
        
     }
}
