* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/*ÁREA DA POPUP*/

.backgroundEsmaecido {
    display: none;
    background: rgb(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
}

.area-popup {
    position: relative;
    display: flex;
    background: rgba(82, 87, 235, 0.7);
    /* background: #cad7ec; */
    width: 90%;
    max-width: 500px;
    height: 200px;
    border: 5px solid rgba(191, 185, 241, 0.8);
    margin: 10% auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
    
    
}

.contentPopup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        
}
/*RESULTADO EM PORCENTAGEM DA POPUP*/
.popup-result {
    text-align: center;
    font-size:17px;
    text-shadow: 1px 1px 1px #47474f;
    color: #c9c6e3;
    
}
strong {
    font-size: 40px;
    text-shadow: 2px 2px 2px #171515;
    color: #73a2ee;
}

.popup-avaliacao {
    text-align: center;
    width: 95%;
    padding: 6px;
    display: block;
    color: #e0d3d3;
    border: 2px dashed #aaacd2;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 15px;
}

.btn-popup {
    display: block;
    margin: 0 auto;
    width: 40%;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #3f3fe2;
    font-size: 15px;
    color: #FFF;
    box-shadow: 2px 2px 4px #171515;
}

.btn-popup:hover {
    background: #2121bb;
    transition: .5s;
}

.closed-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background: rgba(172, 36, 36, 0.8);
    /* background: crimson; */
    width: 20px;
    height: 20px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
}
.closed-popup:hover {
    /* background: crimson; */
    background: rgba(172, 36, 36, 0.8);
    width: 20px;
    height: 20px;
    text-align: center;
    color: #FFF;
    

}

.img-topo {
    width: 100%;
}

body {
    background-image: linear-gradient(#deeaf2, #FFF);

}


.h2-subTitle {
    text-align: left;
    margin: 20px;
    color: #000068;
    text-shadow: 1px 1px 2px #fff;
    font-size: 20px;
}

fieldset {
    display: flex;
    
    border: 1px dashed #3454B4;
}

#container-form {
    margin: 30px;
}

.perguntas-p {
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.container-input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}

.label-respostas {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    left: 30px;
    z-index: 0;
    
}

.inputs {
    position: absolute;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    top: -1.5px;
    left: -30px;
    appearance: none;
    border: 1px solid #372fae;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: #deeaf2;
    z-index: 0;
    
}

.inputs:checked {
    background-image: radial-gradient(#372fae 50%,  #fff 20%);
}



.btn-inputs {
    display: block;
    margin: 0 auto;
    border: none;
    color: #FFF;
    background: #0000CC;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px #171515;
}

.btn-inputs:hover {
    background: #000068;
    transition: .5s;
}

footer {
    position: relative;
    background: #5C5C9E;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #FFF;
    
}

.footer-p {
    color: #ebdfdf;
}

.resposta-bottom {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.img-devCodar {
    position: absolute;
    width: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
    
}

span {
    font-style: italic;
        
}

@media screen and (max-width: 768px) {
    .h2-subTitle {
        text-shadow: 2px 2px 4px #fff;
        font-size: 18px;
    }
    .perguntas-p {
        font-size: 15px;
        margin: 20px;
        
    }
    .label-respostas {
        gap: 6px;
        font-size: 13px;
        
    }
    .img-devCodar {
        width: 60px;
        top: 30px;
    }
    .footer-p {
        font-size: 12px;
    }
    .btn-inputs {
        border-radius: 6px;
        font-size: 13px;
       
    }
    .resposta-bottom {
        font-size: 10px;
    }
    .popup-avaliacao {
        font-size: 13px;
    }
   
}

@media screen and (max-width: 480px) {
    .h2-subTitle {
        text-shadow: 1px 1px 2px #fff;
        font-size: 13px;
    }
    .perguntas-p {
        font-size: 12px;
        margin: 10px;
        
    }
    .label-respostas {
        gap: 5px;
        font-size: 12px;
        
    }
    .img-devCodar {
        width: 50px;
        top: 40px;
    }
    .footer-p {
        font-size: 10px;
    }
    .btn-inputs {
        border-radius: 6px;
        font-size: 11px;
    }
    .inputs {
        margin-bottom: 10px;
        
     }

     .resposta-bottom {
        font-size: 10px;
    }
    .popup-avaliacao {
        font-size: 13px;
    }

    
}
